body {
    text-align: left;
    font-style: normal;
    color: black;
    font-weight: normal;
    background-color: rgb(255, 218, 185);

}

p {
    font-size: 18px;
    text-align: center;

}


h1, h3, h4 {
    text-align: center;
}

footer {
    text-align: center;
}

.rotate-img {
    display: block;
    right: 50px;
}

.link {
    text-align: center;
}
